.container > .WishList > header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px;
    overflow-x: hidden;
    box-shadow: 0 1px 2px #BBBBBB;
}

.container > .WishList > header > aside{
    flex-basis: 45%;
    padding: 20px;
}

.container > .ProductImage{
    text-align: center;
    width: 100%;
}

.container > .ProductImage > img{
    object-fit: scale-down;
    height: 400px;
}

.container > .WishList > header > section{
    flex-basis: 65%;
    padding: 16px;
    margin: 8px;
}

.container > .hdng {
    margin-left: 100px;
    margin-top: 80px;
}

@media (max-width: 1500px) {
    .container > .WishList > header > aside{
        padding: 16px;
        width: 100%;
    }

    .container > .ProductImage > img{
        height: 350px;
        width: 100%;
        object-fit: scale-down;
    }

}

@media (max-width: 1000px) {
    .container > .WishList{
        font-size: 0.9em;
    }
    
    .container > .WishList > header > aside{
        padding: 14px;
        width: 100%;
    }

    .container > .ProductImage > img{
        height: 320px;
        width: 100%;
        object-fit: scale-down;
    }

}

@media (max-width: 800px) {
    .container > .WishList{
        font-size: 0.9em;
    }
    .container > .WishList > header{
        flex-direction: column;
    }

    .container > .WishList > header > aside{
        padding: 20px;
        width: 100%;
    }

    .container > .ProductImage > img{
        height: 300px;
        width: 100%;
        object-fit: scale-down;
    }

    .container > .hdng {
        margin-left: 20px;
        margin-top: 80px;
    }
}

@media (max-width: 400px) {
    .container > .WishList{
        font-size: 0.78em;
    }
    .container > .hdng {
        margin-left: 20px;
        margin-top: 80px;
    }

}

@media (max-width: 330px) {
    .container > .WishList{
        font-size: 0.7em;
    }
    .container > .hdng {
        margin-left: 20px;
        margin-top: 80px;
    }
}