.Toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 80;
    box-shadow: 2px 2px 5px #BBBBBB;
}
.Toolbar > a{
    color: #212529;
}
.Toolbar > a:hover,
.Toolbar > a:active,
.Toolbar > a.active {
    color: #2FCE98;
}
.Element{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: #212529;
}


@media (max-width: 850px) {
    .Element{
        display: none;
    }
    .Toolbar{
        flex-direction: column;
    }
}