.Logo{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.Logo img{
    max-width: 150px;
}

.Hamburger{
    display: none;
}

.CartIcon{
    display: none;
    color: #212529;
}

@media (max-width: 850px) {

    .Logo{
        width: 90%;
    }
    .Hamburger{
        display: block;
        color: #212529;
    }

    .CartIcon{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .CartIcon:hover{
        color: #2FCE98;
    }

    .Hamburger:hover{
        color: #2FCE98;
    }
}