.Footer {
    background-color: whitesmoke;
    margin-top: 100px;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: "monospace";
    overflow: hidden;
}

.FooterBasic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 36px;
    margin-right: 10px;
}

.FooterBasic > span {
    margin: 8px;
    padding: 8px;
}

.FooterBasic > span > a {
    text-decoration: none;
    color: #212529;
}

.FooterBasic > span > a:hover {
    font-size: 1.05em;
}

.FooterIcon {
    margin: 0 12px;
}

.FooterFeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.FooterFeature > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px;
    padding: 2px 8px;
    color: #212529;
}

.Copyright{
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 16px 0;
}

@media (max-width: 900px) {
    .Footer {
        font-size: 0.9em;
    }

}

@media (max-width: 851px) {
    .Footer {
       display: none;
    }
   .Copyright{
       font-size: 0.9em;
       background-color: #EEEEEE;

   }
}

@media (max-width: 500px) {

    .Copyright{
        font-size: 0.8em;
    }
}