
.Login{
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
}

.Login > aside{
    flex-basis: 40%;
    width: 50%;
    padding: 18px;
    background-color: #2FCE98;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px 0 0 6px;
}

.Login > aside > img{
    object-fit: fill;
    height: 420px;
}

.Login > main{
    flex-basis: 60%;
}

.Login >main > header{
    padding: 6px 16px;
    text-align: center;
}
.Login >main > header > img{
    width: 160px;
    margin-top: 8px;
}
.Login > main > header > h4 {
    margin: 5px 8px 16px 8px;
}
.Login > main > header > h5 {
    margin: 4px;
}

.Login > main > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Login > main > form > input{
    border: 2px solid #2FCE98;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 8px 4px;
    width: 55%;

}

.Login > main > form > button {

    padding: 10px 26px;
    border: 0;
    background-color: #2FCE98;
    color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #CCCCCC;
    margin: 22px;
}

.Login > main > form > button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 8px #AAAAAA;

}

.ForgetPassword{
    color:#2FCE98;
    margin:0;

}

.ForgetPassword:hover{
    cursor: pointer;
    font-size: 0.86em;
}

@media (max-width: 700px){
    .Login{
        width: auto;
    }
    .Login > aside {
        display: none;
        flex-basis: 0;
    }

    .Login > main{
        background-image: url("loginlandingmobile.svg");
        background-clip: border-box;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        flex-basis: 100%;
        padding: 6px 12px;
    }

    .Login > main > form > input {
        padding: 8px 10px;
        width: 60%;
    }
}

@media (max-width: 500px) {

    .Login > main > form > input {
        margin: 10px 8px;
    }
}

@media (max-width: 350px) {
    .Login > main > form > input {
        padding: 8px 10px;
        width: 70%;
    }
}


