
.Login{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
}

.Login > aside{
    flex-basis: 40%;
    width: 60%;
    padding: 18px;
    background-color: #2FCE98;
    display: block;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    border-radius: 6px 0 0 6px;
}

.Login > aside > img{
    object-fit: scale-down;
}

.Login > main{
    flex-basis: 60%;
}

.Login >main > header{
    padding: 16px;
    text-align: center;
    color: #03212c;
}
.Login >main > header > img{
    width: 180px;
    margin: 16px 8px;
}
.Login > main > header > h4 {

}

.Login > main > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Login > main > section > input{
    border: 2px solid #2FCE98;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: available;
    margin: 10px 4px;
    width: 40%;

}

.ButtonDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 20px 4px;
}

.Login > main > section  button {

    padding: 10px 16px;
    border: 0;
    background-color: #2FCE98;
    color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #CCCCCC;
    margin: 4px;
    flex-basis: 30%;
}



@media (max-width: 850px) {
    .Login{
        width: 100%;
    }
    .Login > aside {
        display: none;
        flex-basis: 0;
    }

    .Login > main{
        background-clip: border-box;
        background-position: center;
        border-radius: 6px;
        flex-basis: 100%;

    }

    .Login > main > section > input {
        padding: 8px 10px;
    }
}

@media (max-width: 500px) {
    .Login > main > section > input {
        padding: 8px 10px;
        width: 60%;
    }
}



