.CategoryListItem {
    border: 1px solid #CCCCCC;
    height: 470px;
    width: 280px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #CCCCCC;
    margin: 8px;
    overflow: hidden;
}

.CategoryListItem> ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    height: 0px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.CategoryListView {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
    padding: 0 10px;
    text-decoration: none;
    overflow-y: auto;
    color: #212529;
}

.CategoryListView:hover {
    color: #212529;
}

.CategoryListItem:hover {
    color: #212529;
    box-shadow: 1px 2px 12px #BBBBBB;
}


.CategoryListView > .CategoryListDetails > p,
.CategoryListView > .CategoryListDetails > h4 {
    margin: 8px;
    padding: 0;
}

.CategoryListImage {
    flex-basis: 40%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
}

.CategoryListImage > img {
    object-fit: scale-down;
    height: 200px;
    width: 100%;
}

.CategoryListDetails {
    flex-basis: 60%;
    box-sizing: border-box;
    padding: 8px;
    margin: 6px;
}

.Fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
    background-color: #EEEEEE;
    padding: 0 8px;
}

.AddToFavourite{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
}

.AddToFavourite:hover{
    cursor: pointer;
    color: #ff2725;
    font-size: 0.85em;
}

.AddToCart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    font-size: 0.8em;
    font-weight: bold;
}

.AddToCart:hover{
    cursor: pointer;
    color: #2FCE98;
    font-size: 0.85em;
}


@media (max-width: 920px) {
    .CategoryListImage > img {
        height: 180px;
    }

    .CategoryListItem {
        width: 260px;
        height: 420px;
        margin-top: 16px;

    }

}


@media (max-width: 590px) {
    .CategoryListImage > img {
        height: 160px;
    }

    .CategoryListItem {
        margin: 16px 4px 16px 4px;
        width: 260px;
        height: 410px;
        font-size: 0.9em;
    }

}


@media (max-width: 570px) {

    .CategoryListImage > img {
        height: 260px;
    }

    .CategoryListItem {
        width: 95%;
        height: 280px;
        padding: 0;
        margin: 12px;
    }

    .CategoryListView{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .AddToCart{
        font-size: 0.95em;
        padding: 4px;
    }
    .AddToFavourite{
        font-size: 0.95em;
        padding: 4px;
    }
    .AddToCart:hover,
    .AddToFavourite:hover{
        font-size: 1em;
    }

}


@media (max-width: 400px) {
    .CategoryListImage > img {
        height: 160px;
    }

    .CategoryListItem {
        width: 90%;
        height: auto;
    }

    .CategoryListView{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }
}

