.CategoryListItem{
    width: 80%;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #CCCCCC;
    margin: 8px;
}

.CategoryListView{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    text-decoration: none;
}

.CategoryListView:hover{
    color: #212529;
}

.CategoryListItem:hover{
    color: #212529;
    box-shadow: 1px 2px 12px #BBBBBB;
}

.CategoryListView >.CategoryListDetails > p ,
.CategoryListView > .CategoryListDetails> h4{
    margin: 8px;
    padding: 0;
}

.CategoryListImage{
    flex-basis: 40%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 16px;
}

.CategoryListImage > img{
    object-fit: scale-down;
    max-width: 220px;
    height: auto;
    width: auto;
}

.CategoryListDetails{
    flex-basis: 60%;
    box-sizing: border-box;
    padding: 8px;
    margin: 12px;
}

.Fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0 8px;
}



@media (max-width: 800px) {
    .CategoryListItem{
        width: 90%;
    }

    .CategoryListImage > img{
        max-width: 100%;
    }


}

@media (max-width: 550px) {
    .CategoryListImage{
        flex-basis: 40%;
    }
    .CategoryListDetails{
        flex-basis: 60%;
    }
    .CategoryListItem{
        font-size: 0.95em;
    }
}

@media (max-width: 530px) {

    .CategoryListItem{
        font-size: 0.9em;
        width: 92%;
    }

}

@media (max-width: 430px) {

    .CategoryListView{
        flex-direction: column;
    }
    .CategoryListItem{
        font-size: 0.85em;

    }

    .CategoryListImage > img{
        max-width: 70%;
    }

}


