
.HomeCategories{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: rgb(247, 246, 248);
    font-weight: bold;
}

.Spinner{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 851px) {
    .HomeCategories{
        padding: 6px 20px;
        margin: 0;
        font-size: 1em;
    }
}