
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html.touch *:hover
{
  all:unset!important;
  pointer-events: none !important;

}
html.no-touch .thing:hover {}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.touch *:hover {
  pointer-events: none !important;
}

@media (max-width: 350px) {

  body{
    font-size: 0.95em;
  }



}